@model IEnumerable<Models.Framework.Nguoi_dung>

@{
    ViewBag.Title = "User Profile";
    Layout = "~/Views/Shared/_BlackTextNavBar.cshtml";
}

@{
    var user_id = 0;
    var title = "";
    var description = "";

    foreach (var id_user in Model)
    {
        if (id_user.ten_nguoi_dung.Equals(ViewBag.Username))
        {
            user_id = id_user.id_nguoi_dung;
        }
    }

    foreach (var id in ViewBag.AlbumList)
    {
        if (id.id_nguoi_dung == user_id)
        {
            title = id.tieu_de_album;
            description = id.mo_ta_album;
        }
    }
}

<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/user profile/css/style.css" />
    <link rel="stylesheet" href="~/Content/bootstrap.css" />
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="container" style="margin-top: 60px">
        <div class="card overflow-hidden">
            <div class="card-body p-0">
                <div>
                    @*<img src="~/assets/img/avatar.jpg" alt="" class="img-fluid">*@
                    <div style="background: url('/assets/img/background .jpg'); height: 250px; background-repeat: no-repeat; background-size: cover; background-position: center"></div>
                </div>
                <div class="row align-items-center">
                    <div class="col-lg-4 order-lg-1 order-2">
                        <div class="d-flex align-items-center justify-content-around m-4">
                            <div class="text-center">
                                <i class="fa fa-file fs-6 d-block mb-2"></i>
                                <h4 class="mb-0 fw-semibold lh-1">12</h4>
                                <p class="mb-0 fs-4">Posts</p>
                            </div>
                            <div class="text-center">
                                <i class="fa fa-user fs-6 d-block mb-2"></i>
                                <h4 class="mb-0 fw-semibold lh-1">3,586</h4>
                                <p class="mb-0 fs-4">Followers</p>
                            </div>
                            <div class="text-center">
                                <i class="fa fa-check fs-6 d-block mb-2"></i>
                                <h4 class="mb-0 fw-semibold lh-1">2,659</h4>
                                <p class="mb-0 fs-4">Following</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 mt-n3 order-lg-2 order-1">
                        <div class="mt-n5">
                            <div class="d-flex align-items-center justify-content-center mb-2">
                                <div class="linear-gradient d-flex align-items-center justify-content-center rounded-circle" style="width: 110px; height: 110px;" ;="">
                                    <div class="border border-4 border-white d-flex align-items-center justify-content-center rounded-circle overflow-hidden" style="width: 100px; height: 100px;" ;="">
                                        <img src="~/assets/img/avatar.jpg" alt="" class="w-100 h-100">
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <h5 class="fs-5 mb-0 fw-semibold" id="userName">@ViewBag.Username</h5>
                                <h5 class="fs-5 mb-0 fw-semibold">@title</h5>
                                <p class="mb-0 fs-4">Designer</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 order-last">
                        <ul class="list-unstyled d-flex align-items-center justify-content-center justify-content-lg-start my-3 gap-3">
                            <li class="position-relative">
                                <a class="text-white d-flex align-items-center justify-content-center bg-primary p-2 fs-4 rounded-circle" href="javascript:void(0)" width="30" height="30">
                                    <i class="fa fa-facebook"></i>
                                </a>
                            </li>
                            <li class="position-relative">
                                <a class="text-white bg-secondary d-flex align-items-center justify-content-center p-2 fs-4 rounded-circle " href="javascript:void(0)">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li class="position-relative">
                                <a class="text-white bg-secondary d-flex align-items-center justify-content-center p-2 fs-4 rounded-circle " href="javascript:void(0)">
                                    <i class="fa fa-dribbble"></i>
                                </a>
                            </li>
                            <li class="position-relative">
                                <a class="text-white bg-danger d-flex align-items-center justify-content-center p-2 fs-4 rounded-circle " href="javascript:void(0)">
                                    <i class="fa fa-youtube"></i>
                                </a>
                            </li>

                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <button class="middle none center mr-4 rounded-lg bg-blue-500 py-3 px-6 font-sans text-xs font-bold uppercase text-white shadow-md shadow-blue-500/20 transition-all hover:shadow-lg hover:shadow-blue-500/40 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                data-ripple-light="true">
            Create album
        </button>
        <div class="tab-content" id="pills-tabContent">

            <div class="tab-pane fade show active" id="pills-friends" role="tabpanel" aria-labelledby="pills-friends-tab" tabindex="0">
                <div class="d-sm-flex align-items-center justify-content-between mt-3 mb-4">
                    <h3 class="mb-3 mb-sm-0 fw-semibold d-flex align-items-center">Your post</h3>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-4">
                        <div class="card" style="width: 25rem; height: 25rem">
                            <div class="postImg" style="background: url(/assets/img/gallery-74-2.jpg)"></div>
                            <div class="card-body">
                                <p class="card-text">@description</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-4">
                        <div class="card" style="width: 25rem; height: 25rem">
                            <div class="postImg" style="background: url(/assets/img/background/img-75.jpg)"></div>
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div> <div class="col-sm-6 col-lg-4">
                        <div class="card" style="width: 25rem; height: 25rem">
                            <div class="postImg" style="background: url(/assets/img/background/img-90.jpg)"></div>
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div> <div class="col-sm-6 col-lg-4">
                        <div class="card" style="width: 25rem; height: 25rem">
                            <div class="postImg" style="background: url(/assets/img/gallery-90-4.jpg)"></div>
                            <div class="card-body">
                                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div>
        <div class="min-h-screen flex items-center justify-center w-full dark:bg-gray-950 fixed top-0">
            <div class="bg-white dark:bg-gray-900 shadow-md rounded-lg px-8 py-6 w-2/5">
                <h1 class="text-2xl font-bold text-center mb-4">CREATE ALBUM</h1>
                <form action="#">
                    <div class="mb-4">
                        <label for="email" class="block text-sm font-medium text-gray-700 mb-2">Album name</label>
                        <input type="text" id="albumName" class="shadow-sm rounded-md w-full px-3 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" placeholder="Your album name" required>
                    </div>
                    <div class="mb-4">
                        <label for="email" class="block text-sm font-medium text-gray-700 mb-2">Description</label>
                        <input type="text" id="albumDescription" class="shadow-sm rounded-md w-full px-3 py-2 border border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500" placeholder="Your album description" required>
    </div>
                    <div>
                        <div>
                            <hr style="height:2px;border-width:0;color:gray;background-color:black" />
                            <div class="flex justify-end ">
                                <span class="cursor-pointer font-bold text-2xl mr px-3 hover:text-red-600">X</span>
                            </div>
                                
                        </div>
                    </div>
                    <label for="file" class="px-4 py-2 shadow-lg shadow-gray-500/50 bg-black text-white rounded-lg text-[15px] cursor-pointer active:scale-[.97] w-fit">Add image</label>
                    <input type="file" name="file" id="file" accept="image/*" class="absolute z-0 invisible">
                    <button id="createAlbumn" type="submit" class="w-full flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Create albumn</button>
                </form>
            </div>
            <form id="uploadForm" action="/Home/Upload" method="post" enctype="multipart/form-data">

                <button type="submit" class="px-3 text-white">Upload</button>
                <br />
                <button type="button" class="px-3 text-white" id="display">Display image</button>
                <br />
                <button type="button" class="px-3 text-white" id="testBtn">Test</button>
            </form>

            <div id="message" class="px-3 text-white"></div>
        </div>
    </div>
    <div id="imageGallery"></div>
    <script>
        const imagePathList = [];
        var userName = "";
        var uploadedImage = []

        userName = document.getElementById("userName").textContent;

        document.getElementById('file').addEventListener('change', function (e) {
            if (e.target.files.length > 0) {
                uploadedImage.push(...e.target.files); // Spread operator to push multiple files
                console.log(uploadedImage);
            }
        });

        document.getElementById("uploadForm").addEventListener("submit", function (event) {
            event.preventDefault(); // Prevent the default form submission
            var formData = new FormData();
            var fileInput = document.getElementById('file');
            var userName = document.getElementById("userName").textContent;
            var userID = "";

            formData.append('files', uploadedImage);
            formData.append('albumInfo', JSON.stringify({
                userName: userName,
            }));


            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'https://localhost:44363/Home/Upload', true); // Adjust the URL to match your HomeController endpoint

            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        document.getElementById('message').innerText = xhr.responseText;
                        imagePathList.push(xhr.responseText);
                        console.log(imagePathList);
                    } else {
                        document.getElementById('message').innerText = 'Error: ' + xhr.responseText;
                    }
                }
            };
            xhr.send(formData);
        });


        document.getElementById("createAlbumn").addEventListener("click", function (event) {
            event.preventDefault();

            // save images to server
            var formData = new FormData();
            var fileInput = document.getElementById('file');
            var userName = document.getElementById("userName").textContent;
            var albumName = document.getElementById("albumName").value;
            var description = document.getElementById("albumDescription").value;



            albumName ? albumName : albumName = "No name";
            description ? description : description = "No description";
            // Append each file to the form data
            for (var i = 0; i < uploadedImage.length; i++) {
                formData.append('files', uploadedImage[i]);
            }
            formData.append('jsonData', JSON.stringify({ userName: userName, albumName: albumName }));
            var xhrUpload = new XMLHttpRequest();
            xhrUpload.open('POST', 'https://localhost:44363/Home/Upload', true); // Adjust the URL to match your HomeController endpoint

            xhrUpload.onreadystatechange = function () {
                if (xhrUpload.readyState === XMLHttpRequest.DONE) {
                    if (xhrUpload.status === 200) {
                        console.log(xhrUpload.responseText);
                        var uploadedFilePaths = JSON.parse(xhrUpload.responseText); // Assuming the server responds with a JSON array of file paths
                        document.getElementById('message').innerText = 'Files uploaded successfully.';
                        console.log(uploadedFilePaths);

                        // save image info to database
                        var xhrSave = new XMLHttpRequest();
                        xhrSave.open("POST", "https://localhost:44374/Photos/CreatePhoto", true);
                        xhrSave.setRequestHeader("Content-Type", "application/json");

                        xhrSave.onreadystatechange = function () {
                            if (xhrSave.readyState == XMLHttpRequest.DONE) {
                                if (xhrSave.status === 200) {
                                    console.log(xhrSave.responseText);
                                    uploadedImage = [];
                                    uploadedFilePaths = [];
                                    document.getElementById("albumName").value = "";
                                    document.getElementById("albumDescription").value = "";
                                } else {
                                    console.log("\nError: " + xhrSave.status + " - " + xhrSave.statusText);
                                }
                            }
                        };
                        console.log(uploadedFilePaths); 
                        var data = uploadedFilePaths.savedFilePaths.map((item) => ({
                            "url_anh": item,
                            "tieu_de_anh": "this is title",
                            "mo_ta_anh": "this is description"
                        }));

                        console.log(data);
                        xhrSave.send(JSON.stringify(data));
                    } else {
                        document.getElementById('message').innerText = 'Error: ' + xhrUpload.responseText;
                    }
                }
            };
            xhrUpload.send(formData);
        });



        document.getElementById("display").addEventListener("click", function (event) {
            var xhr = new XMLHttpRequest();
            xhr.open('GET', 'https://localhost:44363/Home/GetImagePaths', true); // Adjust the URL to match your HomeController endpoint

            xhr.onreadystatechange = function () {
                if (xhr.readyState === XMLHttpRequest.DONE) {
                    if (xhr.status === 200) {
                        imagePaths = JSON.parse(xhr.responseText);
                        var gallery = document.getElementById('imageGallery');
                        gallery.innerHTML = '';
                        imagePaths.forEach(function (path) {
                            var img = document.createElement('img');
                            console.log(path)
                            img.src = "https://localhost:44363/" + path;
                            img.alt = 'Image';
                            img.width = 100; // Set desired width
                            gallery.appendChild(img);
                        });
                        console.log(xhr.responseText);
                    } else {
                        document.getElementById('message').innerText = 'Error: ' + xhr.responseText;
                    }
                }
            };

            xhr.send();
        })

        document.getElementById("testBtn").addEventListener("click", function () {
            console.log('test clicked');
            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'https://localhost:44374/Albums/CreateAlbum', true);
            xhr.setRequestHeader('Content-Type', 'application/json;charset=UTF-8');
            var albumName = document.getElementById("albumName").value;
            var description = document.getElementById("albumDescription").value;

            var formData = new FormData();
            formData.append("album", {
                "tieu_de_album": albumName,
                "mo_ta_album": description,
                "id_nguoi_dung": userID
            });
            var data = {
                "tieu_de_album": albumName,
                "mo_ta_album": description,
                "id_nguoi_dung": userID
            }
            xhr.onreadystatechange = function () {
                if (xhr.readyState == XMLHttpRequest.DONE) {
                    if (xhr.status == 200) {
                        console.log(JSON.parse(xhr.responseText));
                    }
                }
            }

            xhr.send(JSON.stringify(data));
        })

        window.onload = function () {
            // get user infor 
            var xhr = new XMLHttpRequest();
            xhr.open('POST', 'https://localhost:44374/Nguoi_dung/FindByUsername', true);
            var formData = new FormData();
            formData.append("username", userName);
            xhr.onreadystatechange = function () {
                if (xhr.readyState == XMLHttpRequest.DONE) {
                    if (xhr.status == 200) {
                        userInfo = JSON.parse(xhr.responseText);
                        userID = userInfo.data.id_nguoi_dung;
                    }
                }
            }
            xhr.send(formData);
        }
   </script>   
</body>

